.a { color: #454f33; }
.b { color: #00FFFF; }
.c { color: #9A59B5; }
.d { color: #363947; }
.f { color: #7FFFD4; }
.g { color: #F5F5DC; }
.h { color: #454f33; }
.i { color: #F5F5DC; }
.j { color: #f5f; } 
.k { color: #0aa113; }
.l { color: #b0011c; }
.m { color: #0a0a23; }
.n { color: rgb(201,98,180); }